/token.pickle
/categories/calendar/calendarInfo.txt
/categories/calendar/credentials.json
/categories/calendar/calendarInfo.txt
/categories/calendar/calendarInfo.txt
/categories/investing/data/networthHistory.json
/categories/calendar/calendarInfo.txt
/categories/investing/data/stockInfo.json
/categories/investing/data/wealthicaData.json
/categories/investing/data/wealthicaInfo.txt
